.full-promo-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.image-section {
    width: 60%;
    height: 532px;
    overflow: hidden;
}

.golf-promo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #000;
    color: white;
    padding: 50px;
    width: 40%;
    /* height: 532px; */
    box-sizing: border-box;
}

.text-container {
    text-align: left;
    width: 100%;
}

.limited-edition-text {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title-text {
    font-size: 3em;
    font-weight: bold;
}

.subtitle-text {
    color: #a0a0a0;
    font-size: 1.2em;
    margin-top: 5px;
}

.offer-expires-text {
    font-size: 1em;
    margin-top: 40px;
}

.countdown-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.countdown-box {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

.countdown-number {
    font-size: 2.5em;
    font-weight: bold;
}

.shop-button {
    background-color: #3cb371;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s;
}

.shop-button:hover {
    background-color: #2e8b57;
}



@media (max-width: 1200px) {
    .image-section {
        width: 50%;

        height: auto;
    }
    .timer-section-container {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .full-promo-container {
        flex-direction: column;

    }
    .image-section,
    .timer-section-container {
        width: 100%;

        height: auto;

    }
    .timer-section-container {
        align-items: center;

        text-align: center;
    }
    .text-container {
        text-align: center;
    }
}