.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 820px;
    background-image: url('src/assets/Images/HeroSection.png');
    background-size: cover;
    /* تجعل الصورة تغطي المساحة بالكامل */
    background-position: center;
    /* توسيط الصورة */
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 172px;
    /* المسافة من اليسار */
}


/* overlay تم حذفه أو تعطيله لأنه لا يتناسب مع التصميم */

.overlay {
    display: none;
}

.hero-content {
    position: relative;
    z-index: 10;
    max-width: 45rem;
    padding: 0;
    margin-top: 196px;
    /* المسافة من الأعلى */
}

.hero-title {
    color: white;
    font-size: 5rem;
    line-height: 1.25;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 5.5rem;
    }
}

.hero-description {
    color: #D1D5DB;
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 30rem;
}

.hero-button {
    margin-top: 32px;
    padding: 0.8rem 2.5rem;
    background-color: #2ED47C;
    color: white;
    font-weight: 600;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #26a560;
}